<head>
    <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/2-login-page.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/7-10-accounts.css" /> 
    
  
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
  </head><body>
  <div class="container">  <!-- this class gives the attributes the same style -->
    <div class="login-container">
        <div class="login-Header">
            <p class="welcome-back-page-10">Whoop Whoop!</p>



            <h1 class="welldone-back-page-10">Well Done.</h1>
            
          

            
            <img src="img/Two Small Flowers with Logo 1.png"class="reset-flower-page-8" height="300pxpx" width="300px" ; /></div>
        <div class="login-inputs">

            
            <h4 class="welcome-back-quote-page-10">Your Password has been successfully reset, now log back in or simply log out</h4>
           
      
          <!-- <div class="inputrow"><div class="password-container">
            <img src="img/person-icon.png" class="icon"/>
            
             <input type="text" class="password" placeholder="Email">
            </div>
            <hr width= 100%>
            
            
           

        </div> -->
    

        

<!-- <div class="inputrow"><div class="password-container">
            <img src="img/person-icon.png" class="icon"/>
            
             <input type="text" class="password" placeholder="Confirm Email">
            </div>
            <hr width= 100%>
            
             <div class="password-Reset" id="Forgot-Password">Forgot Password?</div> -->
           

        </div>
    </div>
          
    <div class="logins-button-container-page-10">
        <button class="button button1" onclick="location.href='2-Login-Page.html'">Login </button> 
         <button class="button button2" onclick="location.href='1-Front-page.html'">Log Out </button>
          
</div>
  
       <h1 class="login-strap-name"> "Out of Sight, Not out of Mind"</h1>
  
  
      </div<a>
      
  
      
    </div>
  </div>
  
    
      
    </body>
      </html