<head>
    <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/2-login-page.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/7-10-accounts.css" /> 
    
  
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
  </head><body>
  <div class="container">  <!-- this class gives the attributes the same style -->
    <div class="login-container">
        <div class="login-Header ">
            <p class="welcome-back-page-10">Whoop Whoop!</p>



            <h1 class="welldone-back-page-10">Well Done.</h1>
            
          

            
            <img src="img/Two Small Flowers with Logo 1.png"class="reset-flower-page-8" height="300pxpx" width="300px" ; /></div>
       

            
            <h4 class="welcome-back-quote-page-10">Your Password has been successfully reset, now Login or simply Log out</h4>
           
            <div class="logins-button-container-page-10">
              <button class="button button1 page-10" onclick="location.href='2-Login-Page.html'">Login </button> 
               <button class="button button2 page-10" onclick="location.href='1-Front-page.html'">Log Out </button>
                
      </div>
        
             <h1 class="login-strap-name"> "Out of Sight, Not out of Mind"</h1>
        
        
      </div> 
          

        </div>
    </div>
          
    
      
  
      
    </div>
  </div>
  
    
      
    </body>
      </html