<head>
    <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/2-login-page.css" /> <!-- link to the style sheet/page -->
    
  
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
  </head><body>
  <div class="container">  <!-- this class gives the attributes the same style -->
    <div class="login-container">
        <div class="login-Header">
            <h1 class="Login-name">Forget Me Not.</h1>
            <img src="img/Two Small Flowers with Logo 1.png"class="my-new-class" height="400pxpx" width="400px" ; /></div>
        <div class="login-inputs">
           
      
          <div class="inputrow"><div class="password-container">
            <img src="img/env-icon1.png" class="icon"/>
            
             <input type="text" class="password" placeholder="Username">
            </div>
            <hr width= 100%>
            
            
           

        </div>
    

        

<div class="inputrow"><div class="password-container">
            <img src="img/Padlock Best.png" class="icon"/>
            
             <input type="text" class="password" placeholder="Password">
            </div>
            <hr width= 100%>
            
            <!-- <div class="password-Reset" id="Forgot-Password">Forgot Password?</div> -->
            <div class="Forgot Password" onclick="location.href='8-reset-password.html'">Forgot Password?</div>

        </div>
    </div>
          
        <div class="login-button-container">
              <button class="button button1" onclick="location.href='3-food-list.html'">Sign In </button>
              <button class="button button2" onclick="location.href='7-accounts-page.html'">Sign Up </button>
                
  </div>
  
       <h1 class="login-strap-name"> "Out of Sight, Not out of Mind"</h1>
  
  
      </div<a>
      
  
      
    </div>
  </div>
  
    
      
    </body>
      </html