<head>
    <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/2-login-page.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/7-10-accounts.css" /> 
    
  
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
  </head><body>
  <div class="container">  <!-- this class gives the attributes the same style -->
    <div class="login-container">
        <div class="login-Header">
            <h1 class="reset-password-page-8">Reset Password?</h1>
            
            <img src="img/Two Small Flowers with Logo 1.png"class="reset-flower-page-8" height="300pxpx" width="300px" ; /></div>
        <div class="login-inputs">
            <h4 class="confirmation-quote-page-8">Confirm your email and we'll send you on your way</h4>
           
      
          <div class="inputrow"><div class="password-container">
            <img src="img/person-icon.png" class="icon"/>
            
             <input type="text" class="password" placeholder="Email">
            </div>
            <hr width= 100%>
            
            
           

        </div>
    

        

<div class="inputrow"><div class="password-container">
            <img src="img/person-icon.png" class="icon"/>
            
             <input type="text" class="password" placeholder="Confirm Email">
            </div>
            <hr width= 100%>
            
            <!-- <div class="password-Reset" id="Forgot-Password">Forgot Password?</div> -->
           

        </div>
    </div>
          
        <div class="reset-button-container-page-8">
              <button class="reset-password-button-container-page-8" onclick="location.href='10-password-success.html'">Reset Password </button>
              <!-- <button class="button button2" onclick="location.href='7-accounts-page.html'">Sign Up </button> -->
                <!-- <button class="button button2">Sign Up </button> -->
  </div>
  
       <h1 class="login-strap-name"> "Out of Sight, Not out of Mind"</h1>
  
  
      </div<a>
      
  
      
    </div>
  </div>
  
    
      
    </body>
      </html