<head>
    <link rel="stylesheet" type="text/css" href="css/Style.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/foodlist.css" /> <!-- link to the style sheet/page -->
    
  
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap"rel="stylesheet">
  </head><body>
  <div class="container"><!-- this class gives the attributes the same style -->
    <div class="login-container">
        <div class="login-Header-name-food-list">
            <h1 class="Login-name-page3">List Your Food Items</h1>
            <div class="flower-paragraph">
              <img src="img/Two Small Flowers with Logo 1.png"class="flower-page3" height="300px" width="300px" ; /><p class="paragraph-food-list"style="font-size:25px">Listing your food couldn't be Simpler,
                 just add to the sections you require, food type, Perishable, 
                 best/use by date and a picture, and set a meal reminder in the calendar, 
                 and send to either my pantry and create your very own online food bank, or donate to our very own sister site, Livin On The Veg, and start sharing too.</p>
                 <!-- <h1 class="Paragraph-end-name">"www.livinontheveg.co.uk"</h1><a href="https://www.w3schools.com">Visit W3Schools.com!</a> -->
                 <h1 class="Paragraph-end-name"Livin onthe veg><a href="https://www.livinontheveg.co.uk">Visit Livin On The Veg!</a>
                
            </div>
            
            <img src="img/Man-in fridge1.png"class="Man-in-fridge" height="250px" width="250px" ; />
        
            
            
           

      
    <div class="food-list-boxes-buttons">
    <div class="food-list-container">
      <div class="food-list-image">
        <img src="img/Veg-drink-icon.png" class="icon-for-food-list">
      </div>
      <div class="food-input-container">
        
        <div class="input-title">Food  Type</div>
        <input type="text" class="input-box-page3"> 

        <div class="comment-line">


        </div>
    </div>
    
</div>


<div class="food-list-container">
  <div class="food-list-image">
    <img src="img/perishable-foods.png" class="icon-for-food-list">
  </div>
  <div class="food-input-container">
    
    <div class="input-title">Perishable/ Non Perishable (Canned Food)</div>
    <input type="text" class="input-box-page3"> 

    <div class="comment-line">


    </div>
</div>

</div>


<div class="food-list-container">
  <div class="food-list-image">
    <img src="img/calender-icon.png" class="icon-for-food-list">
  </div>
  <div class="food-input-container">
    
    <div class="input-title">Best Before/ Use By Dates</div>
    <input type="text" class="input-box-page3"> 

    <div class="comment-line">


    </div>
</div>

</div>

<div class="food-list-container">
  <div class="food-list-image">
    <img src="img/camera-phone2.png" class="icon-for-food-list">
  </div>
  <div class="food-input-container">
    
    <div class="input-title">Add Picture</div>
    <input type="text" class="input-box-page3"> 

    <div class="comment-line">


    </div>
</div>

</div>

<div class="food-list-container">
  <div class="food-list-image">
    <img src="img/meal-time-reminder.png" class="icon-for-food-list">
  </div>
  <div class="food-input-container">
    
    <div class="input-title">Meal Reminder</div>
    <input type="text" class="input-box-page3"> 

    <div class="comment-line">


    </div>
</div>

</div>

</div> 

        <div class="login-button-container buttons-container-page3">
          
              <button class="button button1 buttons-page3">Donate To LOTV</button>
                <button class="button button2 buttons-page3">My Pantry</button>
  </div>
  
       <h1 class="login-strap-name"> "Out of Sight, Not out of Mind"</h1>
  
  
      </div>
      
  
      
    </div>
  </div>
  
    
      
    </body>
      </html