<head>
  <link rel="stylesheet" type="text/css" href="css/Style.css" /> <!-- link to the style sheet/page -->
  

  <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
</head><body>
<div class="container"> <!-- this class gives the attributes the same style -->
  <div class="login"><a href="Login-Page.html"></a>
   <img src="img/Two Small Flowers with Logo 1.png" height="593.84px" width="604.3px" ; /> 
    <div class="fmn-text"><h1 class="site-name">Forget Me Not.</h1>
      
      <p class="first-paragraph"style="font-size:25px">So you’ve been shopping and spent your hard earned cash on simply some amazing, not to mention expensive food, and like us you hardly think about their sell by dates once they're sat in your fridge, freezer or pantry and before you’ve had chance to turn them in to a satisfying meal, your foods gone off, out of date, wasting food, time and your money, and what do we all do next, we simply chuck them away …well Forget Me Not is here to help you, with just a few simple clicks you can organise your eating habits, meals and help fight against food waste.</p>
      
      <p class="second-paragraph"style="font-size:25px">Forget Me Not will tell you when and what food you have to eat, and best of all before it’s out of date, hopefully saveing your money and the environment, click ENTER to create your account.</p>
      
      <button class="button button1" onclick="location.href='Login-Page.html'">ENTER </button>

     <h1 class="strap-name"> "Out of Sight, Not out of Mind"</h1>
     



    </div>

    <!-- /* put in SmallFlower picture with new FMN /* -->
  </div>
</div>
<!-- /* handlebar code when needed /* -->
<!-- <div class="row">
    <h1 class="title">Contact Manager</h1>
  </div>
  >
  <div class="row">
    <div class="col s12">
      {{> contactsForm}}
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    {{> contactsList}}
  </div> -->

  
    
    
  
    
    
    
    
    </body>
    </html
    