<head>
  <link rel="stylesheet" type="text/css" href="Style.css" />
</head>
<div class="container">
  <div class="login">
    <img src="img/flowers263–1.png" height="702.96px" width="706.68px" ; />
  </div>
</div>
<!-- /* handlebar code when needed /* -->
<!-- <div class="row">
    <h1 class="title">Contact Manager</h1>
  </div>
  >
  <div class="row">
    <div class="col s12">
      {{> contactsForm}}
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    {{> contactsList}}
  </div> -->
