<head>
  <link rel="stylesheet" type="text/css" href="Style.css" />
</head>
<div class="container">
  <div class="login">
    <img src="img/SmallFlower.png" height="593.84px" width="604.3px" ; />
    <!-- /* put in SmallFlower picture with new FMN /* -->
  </div>
</div>
<!-- /* handlebar code when needed /* -->
<!-- <div class="row">
    <h1 class="title">Contact Manager</h1>
  </div>
  >
  <div class="row">
    <div class="col s12">
      {{> contactsForm}}
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    {{> contactsList}}
  </div> -->
