<head>
    <link rel="stylesheet" type="text/css" href="Style.css" /> <!-- link to the style sheet/page -->
    
  
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
  </head><body>
  <div class="container">  <!-- this class gives the attributes the same style -->
    <div class="login">
        <div class="fmn-text page2title"><h1 class="site-name">Forget Me Not.</h1>
     <img src="img/Two Small Flowers with Logo 2.png" height="593.84px" width="604.3px" ; /> 
      
        <div class="inputrow">
            <img src="img/envelope-icon-png-transparent 6.png" class="icon"/>
            <input class="input" id="username-inputbox" placeholder="Username"/>
            


        </div>

        <div class="inputrow">
            <img src="img/Padlock Best.png" class="icon"/>
            <input class="input" id="password-inputbox" placeholder="Password"/>
            <div class="password-Reset" id="Forgot-Password">Forgot Password</div>
           



        </div>
        
        
        <button class="button button1">Sign In </button>
        <button class="button button2">Sign Up </button>
  
       <h1 class="strap-name"> "Out of Sight, Not out of Mind"</h1>
  
  
  
      </div>
  
      
    </div>
  </div>
  
    
      
    </body>
      </html