.container {
  /* background colour for screen */
  background-color: rgb(239, 239, 193);
  height: 1081%;
  width: 2500%;
}
/* code to give overall colour to screen with no borders  */
body {
  margin: 0px;
}
.flower-image {
  height: 593.84px;
  width: 604.3px;
}
.login img {
  /* margin Set up to auto on screen*/
  /*margin-left: 300;*/
 /* margin-right: 500;*/
  display: block;
  padding-bottom:200px;
}
.login {   /* relative position of flower image using flex for the basic item  */
  position: relative;
  display: flex;
  width: 1920px;
  height: 1081px;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
}
.fmn-text{  /* length height of text */
  width: 1100px;
  height: 500px;
}

.first-paragraph{
  margin-bottom: 40px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;  /* width, height and font type */


}




.second-paragraph{
   margin-bottom: 30px;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;

}

.site-name{
  width: 600px;
  height: 100px;
  font-size: 45px;
  font-family: 'Sonsie One', cursive;
}

.strap-name{   /* strap name and how it is configured */
  width: 900px;
  height: 100px;
  font-size: 35px;
  font-family: 'Sonsie One', cursive;

}
/* click button with its configuration and given a transition time to go to next page 0.4s */
.button {
  background-color: #b1b1ff; /* lavender */
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;/* font type  */
  margin: 8px 8px;
  cursor: pointer;/* type of operation  */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-bottom:50px;
}

.button1 {
  border-radius: 8px;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* this gives the button a shadow illusion  */
}
