.container {
    /* background colour for screen */
    background-color: #efefc1;
    height: 1080px;
    width: 1920px;
  }
  /* code to give overall colour to screen with no borders  */
  body {
    margin: 0px;
  }
  .flower-image {
    height: 593.84px;
    width: 604.3px;
  }
  .icon { /* envelope icon*/
    margin: 0 !important;
    padding: 0 !important;
    width: 50px;
    display: inline-block !important;
    vertical-align: middle;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .login.img {
    /* margin Set up to auto on screen*/
    margin-left: 0;
    margin-right: 10;
    display: block;
    padding-bottom: 200px;
  }
  .login-2 {
    margin-left: 600;
    margin-right: 10;
    display: block;
    padding-bottom: 200px;
  }
  .classB {
    
    margin-left: 0;
    margin-right: 10;
    display: block;
    padding-bottom: 200px;
  }
  
  .classC {
    
    margin-left: 0;
    margin-right: 10;
    display: block;
    padding-bottom: 600px;
    padding-top: 600px;
    padding-left: 600px;
  }
  
  
    
  
  
  .login {
    /* relative position of flower image using flex for the basic item  */
    position: relative;
    display: flex;
    width: 1920px;
    height: 1081px;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding-left: 100px;
  }
  
  .fmn-text {
    /* length height of text */
    width: 750px;
    height: 500px;
    padding-right: 100px;
    padding-bottom: 100;
    padding-top: 100px;
  }
  
  .first-paragraph {
    margin-bottom: 40px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif; /* width, height and font type */
  }
  
  .second-paragraph {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .site-name {
    width: 600px;
    height: 100px;
    font-size: 45px;
    font-family: "Sonsie One", cursive;
  }
  
  .strap-name {
    /* strap name and how it is configured */
    width: 900px;
    height: 100px;
    font-size: 25px;
    font-family: "Sonsie One", cursive;
  }
  /* click button with its configuration and given a transition time to go to next page 0.4s */
  .button {
    background-color: #b1b1ff; /* lavender */
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* width: 150px; */
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; /* font type  */
    margin: 50px 100px;
    cursor: pointer; /* type of operation  */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-bottom: 50px;
  }
  
  .button {
    border-radius: 8px;
    color: black;
  }
  
  .button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* this gives the button a shadow illusion*/
    color: black;
  }
  
  .page2title {
    width: 100%;
    align-items: baseline;
  }
  
  /*.input {
    width: 400px;
    height: 40px;
    vertical-align: middle;
    border-radius: 8px;
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* this gives the button a shadow illusion 
  }*/
  .password-reset {
    height: 0;
    padding-left: 0px;
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hr {
    padding-block-start: 10px;
  }
  
  /*login page styles*/
  
  .login-header {
    width: 1920px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .login-name{
  position: absolute;
  top: 60;
  left: 175;
    width: px;
    height: 100px;
    font-size: 35px;
    font-family: "Sonsie One", cursive;
  }
  
  /*.login-Header-name-food-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    font-size: 85px;
    font-family: "Sonsie One", cursive;
  }*/
  
  
  .login-inputs{
    width: 800px ;
    height: 180px;
  }
  .login-container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  flex-direction: column;
  
  }
  
  .Password{
    width: 350px;
    height: 30px;
    background: none;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .password-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    
  }
  
  .login-button-container{
  
    justify-content: center;
    display: flex;
    align-items: center;
    
  
  
  }
  .login-strap-name{
    width: 900px;
    height: 100px;
    font-size: 25px;
    font-family: "Sonsie One", cursive;
    text-align: center;
    color: black;
    margin-left: 500px;
  
  }
  .inputrow{
  
  height: 80px;
  
  }

  .food-list-container{

    height: 150px;
    width: 150px;
  }

  .food-list-image{
         width: auto;
    padding: 15px;
  }

  .pantry-display-container{
    overflow: scroll;
    height: 400px;
    width: 600px;
  }

  .clock{
    height: 50px;
    width: 450px;
    text-align: center;
    font-family: "Sonsie One", cursive;
  }

  .icon-for-food-list{

    width: 120px;
  }

  .Man-sat-eating-2{

    position: absolute;
    left: 80px;
    width: px;
    height: px;
    top: 650px;
    left: 1500px;



  }