
.named-ingrediants{

    font-size: 25px;

    /* font-family: "Sonsie One", cursive; */
}

.container-Meal-maker{

    background-color: #efefc1;
    /* height: 1080px; */
    width: 1920px;

}

 .login-container-page-6{

    /* margin-right: 400px; */
    margin-left: 300px; 

}

.man-hold-plate{

    padding-left: 320px;
    top: 82px;
    position: absolute;




}

.Man-in-fridge-page-6{

    position: absolute;
    top: 700px;
    left: 1500px;
}

.food-list-boxes-buttons-page-6{

    overflow: scroll;
    /* display: flex; */
    flex-direction: row;
    height: 1000px;
    flex-wrap: wrap;
}